/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
/* Pseudoelemente nicht getestet */
*::before,
*::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
    /* New from https://web.dev/articles/min-max-clamp#width */
    width: clamp(45ch, 50%, 75ch);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

:root {
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --image-fill: 95%;
    --button-size: 40px;
    --overlay-side-size: 50px;
    --overlay-padding: 10px;
    --border-radius-standard: 5px;
}

/*
    Ab hier alles grundlegend getestet
*/

.skibuss-gallery {
    display: flex;
    flex-direction: column;
    padding: 1vw;
}

.skibuss-gallery .images {
    width: 90%;
    display: flex;
    gap: 1vw;
    flex-wrap: wrap;
}

.skibuss-gallery .images img {
    width: 370px;
    height: auto;
    object-fit: cover;
    /* Todo: Requires specific behavior when overlay is active */
    /* cursor: pointer; */
}

.skibuss-gallery .plan {
    object-fit: contain;
}

.skibuss-gallery .overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    inset-inline-start: 0;
    inset-block-start: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: grid;
    grid-template-areas:
        "top top top"
        "middle-left middle-center middle-right"
        "bottom bottom bottom";
    grid-template-columns: var(--overlay-side-size) 1fr var(--overlay-side-size);
    grid-template-rows: var(--overlay-side-size) min-content var(--overlay-side-size);
    padding: var(--overlay-padding);
    font-family: var(--system-ui);
}

.skibuss-gallery .overlay--inactive {
    display: none;
}

.skibuss-gallery .overlay__button {
    width: var(--button-size);
    height: var(--button-size);
    cursor: pointer;
    background-color: #01AEEE;
    color: white;
    border: none;
    border-radius: var(--border-radius-standard);
    box-shadow: inset 0 0 7px 1px rgba(1, 68, 93, 0.8);
}

.skibuss-gallery .overlay__button:hover {
    box-shadow: 0 0 5px 1px rgba(1, 174, 238, 0.7);

}

.skibuss-gallery .overlay__top {
    grid-area: top;
    display: flex;
    justify-content: end;
}

.skibuss-gallery .overlay__button--close {}

.skibuss-gallery .overlay__middle__left {
    grid-area: middle-left;
    display: flex;
    align-items: center;
}

.skibuss-gallery .overlay__button--nav--previous {}

.skibuss-gallery .overlay__middle__center {
    grid-area: middle-center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skibuss-gallery .overlay__image {
    max-height: calc(100vh - 2 * (var(--overlay-side-size) + (var(--overlay-padding))));
}

.skibuss-gallery .overlay__middle__right {
    grid-area: middle-right;
    display: flex;
    justify-content: end;
    align-items: center;
}

.skibuss-gallery .overlay__button--nav--next {}

.skibuss-gallery .overlay__bottom {
    grid-area: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skibuss-gallery .overlay__bottom__caption {
    color: white;
    background-color: #272727;
    text-align: center;
    padding: 7px 20px;
    border-radius: var(--border-radius-standard);
}